@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}


.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 1px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -26px;
	right: auto;
  top: 18px;
	bottom: auto;
	border: 20px solid;
	border-color: #3594cb #3594cb transparent transparent;
}



.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
    border-top-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}




.container2 {
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  overflow:hidden;
}





blockquote{
  margin:0;
  padding:30px;
  background-color: #46a4da;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:absolute;
 right: 0;
  transition: background-color 0.6s linear;
  height: 100%;	
  width: 480px;
}



.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
 
}

.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}


.service-details {
	width: 600px;
	height: 120px;	
	overflow: hidden;
	position: relative;
}

.service-details img {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: auto;
	height: 100%;
	float: left;
	transition: all 0.8s;
	-moz-transition: all 0.8s;

}

.service-details:hover img {
	/*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
  font-weight:300;
	
}

.service-details .service-hover-text h4 {
	padding: 0px;
	padding-bottom: 7px;
	margin: 0px;
	font-size: 8px;
  letter-spacing: 1px;
	width: 100%;
  text-transform:uppercase;
	border-bottom: 2px solid #46a4da;
}

.service-details .service-hover-text p {
	padding-top: 13px;
	font-size: 14px;
	line-height: 20px;
}


.service-details .service-hover-text{
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 50%;
	padding: 1% 1%;
	background: #6cbfee;
	color: rgba(255,255,255,1);
/*	display: none;*/
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.4s;
    border: solid 2px #46a4da;
}

.service-details:hover .service-hover-text {
	display: block !important;
	color: rgba(255,255,255,1);
	background:#6cbfee;
	left: 0px;
	top: 0px;
    border: solid 2px #46a4da;
}








/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #46a4da transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #46a4da transparent transparent transparent;
}



/* =============================================== /*
/*                                                 /* 
/*                     Messages                    /*
/*                                                 /*
/* =============================================== */

#messages {
  position: absolute;
  padding-left: 40px;
  width: 800px;
  list-style: none; }

#messages li:nth-child(2n) .facebook { right: -10px; }

#messages li:nth-child(2n) .twitter { right: -5%; }

#messages li:nth-child(2n) .github { right: -1%; }

#messages .infos {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  float: left;
  padding: 3px;
  width: 130px;
  height: 130px;
  border: 5px solid #46a4da; }

#messages .infos a {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: #46a4da;
  color: #fff;
  text-decoration: none;
  text-indent: -10000px;
  font-size: 11px; }

#messages .infos a:hover {
  padding: 0 10px 0 18px;
  width: auto;
  border: none;
  text-indent: 0;
  opacity: 0.95; }

#messages img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%; }

#messages .front {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
    background-color: #fff;
}

.sprite {
  background: url("http://sinjapp.com/img/sprite.svg") no-repeat;
  background-size: 23px; }

.twitter {
  background-position: -1px 5px;
  top: 16%;
  left: -5%; }

.twitter:hover { background-color: #2094dd !important; }

.facebook {
  background-position: -2px -27px;
  top: 42%;
  left: -10%; }

.facebook:hover { background-color: #3b5998 !important; }

.github {
  background-position: -2px -10px;
  bottom: 17%;
  left: -1%; }

.github:hover { background-color: #444 !important; }


/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 112px;
	height: 112px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;

}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
        text-align: center;
    font-size: 12px;
    padding-top: 20px;
}



